.container1 {
    display: flex;
    width: 1920px;
    height: 1012px;
    background-image: url("./images/Background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
.transparent-line {
    display: inline-flex;
    background: rgba(94, 83, 88, 0.6); /* Цвет фона */
    width: 1920px;
    height: 120px;
    margin-top: 0;
    position: absolute;
}
.logo {
   background-image: url("./images/Polygon 1 1.png");
    display: block;
    width: 58px;
    height: 67px;
    margin-left: 380px;
    margin-top: 26px;
}
.letter {
    display: flex;
    width: 31px;
    height: 31px;
    margin-top: 18px;
    margin-left: 13px;
}
.firm-name {
    display: flex;
    margin-top: 38px;
    width: 134px;
    height: 46px;
    margin-left: 6px;
    align-items: center;
}
.first-word {
    font-family: Ubuntu;
    font-size: 32px;
    line-height: 48px;
    font-style: normal;
    font-weight: 400;
    color: white;
}
.second-word {
    font-family: Ubuntu;
    font-size: 32px;
    line-height: 48px;
    font-style: normal;
    font-weight: 400;
    color: #18CFAB;
}
.menu-header {
        margin-left: 305.02px;
    margin-top: 38.61px;
    margin-bottom: 48.64px;
    width: 594.8px;
   }
.list {
    display: inline-flex;
    list-style-type: none;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
       }
.green-word {
    text-decoration: none;
    color: white;
    display: flex;
    width: 55.89px;
    margin-left: 0;
}
.green-word:hover {
    color: #18CFAB;
}
.item2,.item3, .item4, .item5, .item6, .item7 {
    text-decoration: none;
    color: white;
    display: flex;
    margin-left: 21.09px;
    }
.item2 {
    width: 64.33px;
}
.item3 {
   width: 50.62px;
}
.item4 {
    width: 60.11px;
}
.item5 {
    width: 76.98px;
}
.item6 {
    width: 59.05px;
}
.item7 {
    width: 121.27px;
}
.search-icon {
    width: 21.09px;
    height: 20px;
    margin-top: 3px;
}
.header-main-part {
    display: flex;
    width: 1920px;
    height: 897px;
    margin-top: 0;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.header-main-part{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}
.headline1 {
    display: inline-flex;
    width: 637px;
    margin-top: 379px;
    /*margin-left: 632px;*/
    font-family: Ubuntu;
    font-size: 35px;
    line-height: 1px;
    font-style: normal;
    font-weight: bold;
}
.white-part {
    color: white;
}
.green-part {
    color: #18CFAB;
    margin-left: 10px;
}
.headline2 {
    width: 798px;
    margin-top: 57px;
  margin-left: -37px;
    font-family: Ubuntu;
    font-size: 78px;
    line-height: 1px;
    font-style: normal;
    font-weight: bold;
    color: white;
}
.under-headline {
    display: inline-flex;
   width: 798px;
    justify-content: center;
    border: 4px double greenyellow;
    margin-top: 57px;
    color: red;
}
.btn {
    display: inline-flex;
    width: 350px;
    height: 63px;
    margin-top: 169px;
    justify-content: space-between;
}
.green-btn, .blue-btn {
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border-top: 5px groove #FFFFFF;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}
.green-btn-text, .blue-btn-text {
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    color: #FFFFFF;
}
.green-btn {
background-color: #18CFAB;
    margin-left: 0;
}
.blue-btn {
       background-color: #00CBF6;
    margin-right: 0;
}
.upper-container {
    display: inline-flex;
    width: 1920px;
}
.container2 {
    width: 482px;
    height: 377px;
    background-color: #1C2A33;
}
.logo112 {
    width: 61px;
    height: 100px;
    margin-left: 220.5px;
    margin-top: 95px;
    align-items: center;
}

.green-text,.white-text {
    width: 315px;
    height: 25px;
    margin-left: 100px;
    margin-top: 56px;
    font-family: Ubuntu;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

}
.white-text {
    color: #FFFFFF;
    }
.green-text {
    color: #18CFAB;
}
.container3 {
    width: 482px;
    height: 377px;
    background-color: #18CFAB;
    }
.logoB {
    width: 61px;
    height: 100px;
    margin-left: 210px;
    margin-top: 95px;
}
.services-headline {
    display: inline-flex;
    width: 254px;
    height: 40px;
    margin-top: 83px;
    margin-left: 835.5px;
    font-family: Ubuntu;
    font-size: 36px;
    line-height: 40px;
    justify-content: center;
    font-style: normal;
    color: #4E4E4E;
}


ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 404.5px;
}

.list-services {
    display: flex;
}
.tabs-nav_item {
    padding: 20px;
    cursor: pointer;
    width: 195px;
    height: 25px;
    background-color: #F8FCFE;
    border: 2px solid #F2F2F2;
    font-family: Ubuntu;
    font-size: 15.99px;
    color: #717171;
    text-align: center;
}

.tabs-nav_item.is-active {
    background-color: #18CFAB;
    border: 2px solid transparent;
}
.tab {
    display: none;
    font-family: Arial;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    width: 1159px;
    margin-left: -60px;
    margin-top: -55px;
}
.tab.is-active {
    display: block;
}
.tab-bild {
    width: 192px;
    height: 139px;
    margin-left: -655px;
    margin-top: 40px;
}
.tab-text {
    width: 952px;
    height: 136px;
    font-family: Ubuntu;
    font-size: 13.645px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #777777;
    margin-left: 380px;
    margin-top: -120px;
}

.triangle-down.is-active {
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 15px solid #18CFAB;
    margin-left: 237px;
    margin-top: -110px;
    display: block;
}

.buy-and-install {
    margin-top: 91px;
    width: 1920px;
    height: 476px;
    background-image: url("./images/Background2.png");
   /* border: 1px solid red;*/
}
.everything {
    margin-top: 126.78px;
    width: 1143.34px;
    height: 40px;
    margin-left: 388.83px;
    }
.portfolio {
    margin-top: 12.22px;
    margin-left: 535px;
    width: 852px;
    height: 40px;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    justify-content: center;
    color: #D8D8D8;
}
.buy-green-btn {
    width: 168px;
    height: 63px;
    margin-left: 877px;
    margin-top: 67px;
    background-color: #18CFAB;
    border-radius: 5px;
    border-top: 5px groove #FFFFFF;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}
.buy-green-btn-text {
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    color: #FFFFFF;
}

.amazing-work {
    width: 1920px;
    height: 1462px;
    background-color: #E9EDEF;
    margin-top: 0;
    border: 0.1px solid transparent;
}
.amazing-work-text {
    width: 376px;
    height: 40px;
    margin-top: 95px;
    margin-left: 783px;
    font-family: Ubuntu;
    font-size: 36px;
    padding-left: 20px;
}
.double-line {
    margin-top: 20px;
    margin-left: 910px;
    width: 79px;
    padding: 0;
    height: 0.5px;
    border: none;
    border-top: 1px solid #18CFAB;
    /*border-bottom: 1px solid #18CFAB;*/
}
.double-line1 {
    margin-top: 1px;
    margin-left: 920px;
    width: 79px;
    padding: 0;
    /*height: 0.2px;*/
    border: none;
    /*border-top: 1px solid #18CFAB;*/
    border-bottom: 1px solid #18CFAB;
}
.list-work {
    width: 582px;
    margin-top: 77px;
    margin-left: 667px;
    display: inline-flex;
    list-style-type: none;
    font-family: Ubuntu;
    font-size: 15.99px;

}
.item31,.item32,.item33,.item34,.item35 {
    height: 58px;
    border: 1px solid #DADADA;
    background-color:rgba(0,0,0,0.0001);
    font-size: 14px;
    color: #717171;
    text-align: center;
    justify-content: center;
}
.item31 {
    width: 79px;
}
.item31:focus,.item32:focus,.item33:focus,.item34:focus,.item35:focus {
    border: 1px solid #18CFAB;
}
.image-work {
    display: grid;
    width: 1140px;
    height: 633px;
    /*grid-auto-rows: 211px;
    grid-auto-rows: 285px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 96px;
    margin-left: 380px;
    /*border: 0.5px solid #00CBF6;*/
    gap: 0;
}
.image-item {
    width: 285px;
    height: 211px;
}
.load-green-btn {
    font-family: Ubuntu;
    font-size: 16px;
    color: #DADADA;
    width: 168px;
    height: 63px;
    margin-left: 876px;
    margin-top: 50px;
    background-color: #18CFAB;
    border-radius: 5px;
    border-top: 5px groove #FFFFFF;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    outline: none;
    text-align: center;
}
.my_form{
    display: flex;
    width: 1900px;
    height: 350px;

    margin-top: 0;
    margin-left: 0;
}
.popup {
    display: none;
    justify-content: center;
    width: 1100px;
    height: 150px;
    margin-top: 140px;
    margin-left: -620px;
}
.popup-fotos {
    width: 170px;
    height: 150px;
}
.close {
    color: #22353F;
    font-size: 21px;
    font-weight: bold;
    border: 0.5px solid #22353F;
    border-radius: 50%;
    padding: 2.3933px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

    text-align: center;
    background-color: #FFFFFF;
}
.close:hover,
close:focus {
    cursor: pointer;
}
@keyframes animatetop {
    from {

        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.breaking-news {
    width: 1920px;
    height: 870px;
   /* border: 1px solid greenyellow;*/
}
.breaking-news-text {
    width: 298px;
    height: 40px;
    margin-left: 829.5px;
    margin-top: 82px;
    font-family: Ubuntu;
    font-size: 36px;
    text-justify: auto;
}
.breaking-news-container {
    display: grid;
    width: 1151px;
    height: 593px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 33px;
    /*border: 0.5px solid #DADADA;*/
    margin-top: 69px;
    margin-left: 398.5px;
}
.breaking-news-item {
    width: 263px;
    height: 280px;
    /*border: 0.5px solid blueviolet;*/
}

.imaging-blog-post:hover {
    color: #18CFAB;
}
.imaging-blog-post {
    display: flex;
    /*border: 1px solid #00CBF6;*/
    width: 227px;
    height: 40px;
    font-family: Ubuntu;
    color: #717171;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 39px;
    padding-left: 20px;
    margin-top: -5px;
}
.imaging-blog-comment {
    display: flex;
    width: 210px;
    height: 40px;
    font-family: Ubuntu;
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 39px;
    padding-left: 20px;
    margin-top: -8px;

}

.opinion {
    display: flex;
    width: 1920px;
    height: 853px;
    /*border: 1px solid #00CBF6;*/
    background-image: url("./images/Layer 333.png");

}
.opinion-title {
    display: flex;
    width: 613px;
    height: 40px;
    margin-top: 98px;
    margin-left: 653px;
    font-family: Ubuntu;
    font-size: 36px;
    line-height: 40px;
    font-style: normal;
    color: #FFFFFF;
    justify-content: center;

}
.quotes {
    width: 47px;
    height: 70px;
    margin-top: 45px;
    margin-left: 920px;
}
.quotes:before {
    color: #18CFAB;
    font-family: Times, serif;
    font-style: italic;
    content: '\201c';
    font-size: 80px;
}
.opinion-text {
    width: 1160px;
    height: 45px;
    margin-top: 25px;
    margin-left: 379px;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    justify-content: center;
    text-align: center;
}

.opinion-person-name {
    margin-top: 30px;
    margin-left: 905px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    color: #18CFAB;
    line-height: 27px;
    text-justify: auto;
}
.opinion-person-position {
    margin-left: 945px;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #18CFAB;
    text-justify: auto;
}
.portret {
    margin-top: 40px;
    margin-left: 945px;
    border: 5px solid darkcyan;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.arrow-right {
    width: 8px;
    height: 8px;
    border-top: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    margin-left: 3px;
    margin-top: 5px;
    /*padding-top: 4px;*/
    transform: rotate(45deg);
}
.arrow-left {
    width: 8px;
    height: 8px;
    border-top: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    margin-left: -800px;
    margin-top: 750px;
    transform: rotate(225deg);
}
.square {
    width: 22px;
    height: 22px;
    margin-left: 15px;
    margin-top: 740px;
    border: 1px solid #FFFFFF;
    background-color: transparent;

}
.square:hover {
    background-color: #18CFAB;
}

.gallery_nav {
    display: inline-flex;
    margin-top: 720px;
    width: 500px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gallery-nav_item {
    cursor: pointer;
    flex: 1 1 auto;
    margin: 0 5px;
    justify-content: center;
}

.portret-1 {
    width: 75px;
    height: 74px;
    border: 1px solid darkcyan;
    border-radius: 50%;
}
.portret-2 {
    width: 75px;
    height: 74px;
    border: 1px solid darkcyan;
    border-radius: 50%;
}
.portret-3 {
    width: 75px;
    height: 74px;
    border: 1px solid darkcyan;
    border-radius: 50%;
}
.portret-4 {
    width: 75px;
    height: 74px;
    border: 1px solid darkcyan;
    border-radius: 50%;
}

.gallery-nav_item.is-active {
    display: flex;
}

.tab-content {
    display: none;
    justify-content: center;
}
.tab-content.is-active {
    display: block;
}

.footer {
    width: 1922px;
    height: 121px;
    background-color: #22353F;
}
.copyright {
    width: 326px;
    height: 20px;
    margin-left: 798px;
    margin-top: 48px;
}